<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="/index.css"/>
    <title>{{ block "title" . }}donix.dev{{ end }}</title>
    {{ block "head" . }}{{ end}}
</head>
<body>
    <main>
        {{ block "content" . }}{{ end }}
    </main>

    <footer>
        <p>Hosted on <a href="https://github.com/imdonix/donix.dev">github</a> &copy; {{ .Meta.Year }} Magyar Tamás</p>
    </footer>
</body>
</html>
